<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cody Test</title>
</head>
<body>
    <h1>Hello ERB</h1>
    <ul>
        <% 3.times do %>
        <li>3times erb ~</li> 
        <% end %>
    </ul>
    
</body>
</html>