<% layout "_layouts/layout.erb" %>
<% block :title do %>
    <title>
        타이틀 컨텐츠
    </title>
<% end %>
<% block :main do %>
    <main>
        메인 컨텐츠
    </main>
<%= include "_includes/include_comment.html" %>
<%= partial "_includes/include_comment.html",[{}] %>

<% end %>
<% block :footer do %>
    <footer>
        풋터컨텐츠
    </footer>
<% end %>


