<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cody Test</title>
</head>
<body>
    <h1>Hello ERB</h1>
    <h2>Test system output</h2>
    <ul>
        <li><%= "- ARGV : #{ARGV}" %></li>
        <li><%= "- Ruby Version : #{RUBY_VERSION}" %></li>
        <li><%= "- Load path : #{$LOAD_PATH}" %></li>
        <li><%= "- line number : #{__LINE__}" %></li>
    </ul>
</body>
</html>